@page "/GhabeliatPlus"

<PageTitle> قابلیت+ </PageTitle>

<h3 dir="rtl" > به وبسایت "قابلیت پلاس" خوش آمدید </h3>

<p dir="rtl">  به زودی میتوانید محبوبترین و بروزترین لوازم خود را (مانند مغز الاغ، پلاگین موش، دست خر، پای سگ، فک میمون و ...) به صورت آنلاین و تحویل فوری از ما خریداری کنید  </p>

<p dir="rtl"> با پشتیبانی 24 ساعته و مشاوره رایگان </p>

<img src="https://th.bing.com/th/id/R.f8519c96053785f8b8c7fe0e3cc5dcd6?rik=v2nJPGnmZc7c%2bQ&r=0" width="220"/>
<img src="https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/xlvvalwyaw7n31iovmi4.jpg" width="400" />
<img src="https://www.backyardherds.com/attachments/0515181907-01-jpg.48302/" width="310" />
<img src="https://www.androidpolice.com/wp-content/uploads/2017/05/nexus2cee_dog_paw.png" width="110" />
<img src="https://i.pinimg.com/736x/9c/c8/7c/9cc87c31fa9da556c30a3a40acaebe24--monkeys-mouths.jpg" width="220" />

@code {

}
